extends layout

block content
  .container
    h1= title
    p Welcome to #{title}
    if (!user)
      a(href="/management/login") Login
      br
      a(href="/management/register") Register
    if (user)
      p You are currently logged in as #{user.username}
      a(href="/management/logout") Logout
