extends layout

block content
  .container
    h1= title
    p.lead 登録する組織の情報を入力してください
    if (error && error.length > 0)
      h4.error-msg= error
    form(role='form', action="/management/register", method="post", style='max-width: 300px;')
      .form-group
        input.form-control(type='text', name="username", placeholder='Username')
      .form-group
        input.form-control(type='password', name="password", placeholder='Password')
      .form-group
        input.form-control(type='text', name="organizationName", placeholder='Organization Name')
      .form-group
        input.form-control(type='text', name="locationCode", placeholder='Location Code')
      .form-group
        input.form-control(type='text', name="userToken", placeholder='User Token')
      .form-group
        input.form-control(type='number', name="voteThreshold", placeholder='Vote Threshold', value="3", min="0")
      .form-group
        input.form-control(type='number', name="voteAvailableTime", placeholder='Vote Available Time', value="3600000", min="0")
      button.btn.btn-default(type='submit') Submit
      &nbsp;
      a(href='/')
        button.btn.btn-primary(type="button") Cancel
